<title>{{ titleVar }}</title>
<div class="text-center"><strong>{{titleVar.toUpperCase()}}</strong></div>
<div class="container-full">
  <div class="board-game">
    <img class="img-fluid" src="assets/images/board_new.jpg" alt="">
    <div class="threePiecesBg-a" (click) = "bigaClick()">
      <div class="threePieces one"></div>
      <div class="threePieces two"></div>
      <div class="threePieces three"></div>
    </div>
    <div class="threePiecesBg-b" (click) = "bigbClick()">
      <div class="threePieces one"></div>
      <div class="threePieces two"></div>
      <div class="threePieces three"></div>
    </div>
    <div class="threePiecesBg-c" (click) = "bigcClick()">
      <div class="threePieces one"></div>
      <div class="threePieces two"></div>
      <div class="threePieces three"></div>
    </div>
    <div class="threePiecesBg-d" (click) = "bigdClick()">
      <div class="threePieces one"></div>
      <div class="threePieces two"></div>
      <div class="threePieces three"></div>
    </div>
    <div class="threePiecesBg-e" (click) = "bigeClick()">
      <div class="threePieces one"></div>
      <div class="threePieces two"></div>
      <div class="threePieces three"></div>
    </div>
    <div class="threePiecesBg-f" (click) = "bigfClick()">
      <div class="threePieces one"></div>
      <div class="threePieces two"></div>
      <div class="threePieces three"></div>
    </div>
    <div class="threePiecesSg-a bottom" (click) = "smallaClick()">
      <div class="threePieces one bottom"></div>
      <div class="threePieces two bottom"></div>
      <div class="threePieces three bottom"></div>
    </div>
    <div class="threePiecesSg-b bottom" (click) = "smallbClick()">
      <div class="threePieces one bottom"></div>
      <div class="threePieces two bottom"></div>
      <div class="threePieces three bottom"></div>
    </div>
    <div class="threePiecesSg-c bottom" (click) = "smallcClick()">
      <div class="threePieces one bottom"></div>
      <div class="threePieces two bottom"></div>
      <div class="threePieces three bottom"></div>
    </div>
    <div class="threePiecesSg-d bottom" (click) = "smalldClick()">
      <div class="threePieces one bottom"></div>
      <div class="threePieces two bottom"></div>
      <div class="threePieces three bottom"></div>
    </div>
    <div class="threePiecesSg-e bottom" (click) = "smalleClick()">
      <div class="threePieces one bottom"></div>
      <div class="threePieces two bottom"></div>
      <div class="threePieces three bottom"></div>
    </div>
    <div class="threePiecesSg-f bottom" (click) = "smallfClick()">
      <div class="threePieces one bottom"></div>
      <div class="threePieces two bottom"></div>
      <div class="threePieces three bottom"></div>
    </div>
    <div class="threePiecesOg-f bottom" (click) = "LlClick()"><div class="threePieces three" style="display: none;"></div></div>
    <div class="threePiecesOsg-f bottom" (click) = "LlrClick()"><div class="threePieces three" style="display: none;"></div></div>
    <button class="btn btn-primary btnStartGame" (click) = "startGame()">Start Game</button>
  </div>
</div>